@model IEnumerable<Annual_Compliance_Declaration.Models.ListViewModels>
@{
    ViewBag.Title = "Home Page";
}
@using (Html.BeginForm("ListView", "ListView", FormMethod.Post))
{
    <div class="main-content-inner">
        <div class="breadcrumbs ace-save-state" id="breadcrumbs">
            <ul class="breadcrumb">
                <li>
                    <i class="ace-icon fa fa-home home-icon"></i>
                    <a href="#">Home</a>
                </li>

                <li>
                    <a href="#">Admin</a>
                </li>
                <li class="active">List Declaration</li>
            </ul><!-- /.breadcrumb -->
            @*<div class="nav-search" id="nav-search">
                    <form class="form-search">
                        <span class="input-icon">
                            <input type="text" placeholder="Search ..." class="nav-search-input" id="nav-search-input" autocomplete="off">
                            <i class="ace-icon fa fa-search nav-search-icon"></i>
                        </span>
                    </form>
                </div>*@<!-- /.nav-search -->
        </div>

        <div class="page-content">
            <div class="ace-settings-container" id="ace-settings-container">
                <div class="btn btn-app btn-xs btn-warning ace-settings-btn" id="ace-settings-btn">
                    <i class="ace-icon fa fa-cog bigger-130"></i>
                </div>

                <div class="ace-settings-box clearfix" id="ace-settings-box">
                    <div class="pull-left width-50">
                        <div class="ace-settings-item">
                            <div class="pull-left">
                                <select id="skin-colorpicker" class="hide">
                                    <option data-skin="no-skin" value="#438EB9">#438EB9</option>
                                    <option data-skin="skin-1" value="#222A2D">#222A2D</option>
                                    <option data-skin="skin-2" value="#C6487E">#C6487E</option>
                                    <option data-skin="skin-3" value="#D0D0D0">#D0D0D0</option>
                                </select><div class="dropdown dropdown-colorpicker"><a data-toggle="dropdown" class="dropdown-toggle"><span class="btn-colorpicker" style="background-color:#438EB9"></span></a><ul class="dropdown-menu dropdown-caret"><li><a class="colorpick-btn selected" style="background-color:#438EB9;" data-color="#438EB9"></a></li><li><a class="colorpick-btn" style="background-color:#222A2D;" data-color="#222A2D"></a></li><li><a class="colorpick-btn" style="background-color:#C6487E;" data-color="#C6487E"></a></li><li><a class="colorpick-btn" style="background-color:#D0D0D0;" data-color="#D0D0D0"></a></li></ul></div>
                            </div>
                            <span>&nbsp; Choose Skin</span>
                        </div>

                        <div class="ace-settings-item">
                            <input type="checkbox" class="ace ace-checkbox-2 ace-save-state" id="ace-settings-navbar" autocomplete="off">
                            <label class="lbl" for="ace-settings-navbar"> Fixed Navbar</label>
                        </div>

                        <div class="ace-settings-item">
                            <input type="checkbox" class="ace ace-checkbox-2 ace-save-state" id="ace-settings-sidebar" autocomplete="off">
                            <label class="lbl" for="ace-settings-sidebar"> Fixed Sidebar</label>
                        </div>

                        <div class="ace-settings-item">
                            <input type="checkbox" class="ace ace-checkbox-2 ace-save-state" id="ace-settings-breadcrumbs" autocomplete="off">
                            <label class="lbl" for="ace-settings-breadcrumbs"> Fixed Breadcrumbs</label>
                        </div>

                        <div class="ace-settings-item">
                            <input type="checkbox" class="ace ace-checkbox-2" id="ace-settings-rtl" autocomplete="off">
                            <label class="lbl" for="ace-settings-rtl"> Right To Left (rtl)</label>
                        </div>

                        <div class="ace-settings-item">
                            <input type="checkbox" class="ace ace-checkbox-2 ace-save-state" id="ace-settings-add-container" autocomplete="off">
                            <label class="lbl" for="ace-settings-add-container">
                                Inside
                                <b>.container</b>
                            </label>
                        </div>
                    </div><!-- /.pull-left -->

                    <div class="pull-left width-50">
                        <div class="ace-settings-item">
                            <input type="checkbox" class="ace ace-checkbox-2" id="ace-settings-hover" autocomplete="off">
                            <label class="lbl" for="ace-settings-hover"> Submenu on Hover</label>
                        </div>

                        <div class="ace-settings-item">
                            <input type="checkbox" class="ace ace-checkbox-2" id="ace-settings-compact" autocomplete="off">
                            <label class="lbl" for="ace-settings-compact"> Compact Sidebar</label>
                        </div>

                        <div class="ace-settings-item">
                            <input type="checkbox" class="ace ace-checkbox-2" id="ace-settings-highlight" autocomplete="off">
                            <label class="lbl" for="ace-settings-highlight"> Alt. Active Item</label>
                        </div>
                    </div><!-- /.pull-left -->
                </div><!-- /.ace-settings-box -->
            </div><!-- /.ace-settings-container -->

            <div class="page-header">
                <h1>
                    Admin
                    <small>
                        <i class="ace-icon fa fa-angle-double-right"></i>
                        List Declaration
                    </small>
                </h1>
            </div><!-- /.page-header -->

            <div class="row">
                <div class="col-xs-12">
                    <!-- PAGE CONTENT BEGINS -->
                    <div class="row">
                        <div class="col-xs-12">
                            @Html.Raw(TempData["message"])
                            <form class="form-horizontal">
                                <div class="form-group">
                                    <label class="col-sm-3 control-label no-padding-right" for="form-field-1" style="width: 150px;"> Person Number </label>

                                    <div class="col-sm-9">
                                        @Html.TextBox("EmployeeID", null, new { id = "EmployeeID", @class = "col-xs-10 col-sm-5", @placeholder = "EmployeeID"})

                                        @*<input type="text" id="NIK" name="NIK" placeholder="NIK" class="col-xs-10 col-sm-5" style="width: 110px;">*@
                                    </div>
                                </div><br /><br />
                                <div class="form-group">
                                    <label class="col-sm-3 control-label no-padding-right" for="form-field-1" style="width: 150px;"> Name </label>

                                    <div class="col-sm-9">
                                        @Html.TextBox("EmployeeName", null, new { id = "EmployeeName", @class = "col-xs-10 col-sm-5", @placeholder = "EmployeeName"})
                                        @*<input type="text" id="Name" name="Name" placeholder="Name" class="col-xs-10 col-sm-5" style="width: 300px;">*@
                                    </div>
                                </div><br /><br />
                                <div class="form-group">
                                    <label class="col-sm-3 control-label no-padding-right" for="form-field-1" style="width: 150px;">Entity</label>
                                    <div class="col-sm-9">
                                        <select class="form-control" id="Entity" name="Entity" style="width: 300px;">
                                            <option value="">All</option>
                                            <option value="ALI">ALI</option>
                                            <option value="ASI">ASI</option>
                                            <option value="AAMI">AAMI</option>
                                            <option value="AMFS">AMFS</option>
                                            <option value="MAGI">MAGI</option>
                                        </select>
                                        @Html.Hidden("EntityID", null, new { id = "EntityID" })
                                    </div>
                                </div><br /><br />
                                <div class="form-group">
                                    <label class="col-sm-3 control-label no-padding-right" for="form-field-1" style="width: 150px;">Department</label>
                                    <div class="col-sm-9">
                                        <select class="form-control" id="Dept" name="Dept" style="width: 300px;">
                                           
                                        </select>
                                        @Html.Hidden("Department", null, new { id = "Department" })
                                    </div>
                                </div><br /><br />
                                <div style="margin-left:15px">
                                    <button class="btn btn-sm btn-success" type="submit" name="submit" id="Search" value="Search" style="margin-left:100px; height:40px; width:100px">
                                        Search
                                    </button>
                                    <button class="btn navbar-btn" type="submit" name="submit" id="Download" value="Download" style="height:40px; width:100px; margin-left:30px; ">
                                        Download
                                    </button>
                                </div><br />
                            </form>
                            <div class="table-header">
                                Employee
                            </div>

                            <!-- div.table-responsive -->
                            <!-- div.dataTables_borderWrap -->
                            <div>
                                <div class="dataTables_wrapper form-inline no-footer">
                                    <div class="ui-jqgrid-hdiv ui-state-default">
                                        <div class="ui-jqgrid-hbox">
                                            <table id="dynamic-table" class="table table-striped table-bordered table-hover dataTable no-footer" role="grid" aria-describedby="dynamic-table_info">
                                                <thead>
                                                    <tr role="row" style="font-size:12px">
                                                        <th tabindex="0" aria-controls="dynamic-table" rowspan="1" colspan="1">No</th>
                                                        <th tabindex="1" aria-controls="dynamic-table" rowspan="1" colspan="1">Person Number</th>
                                                        <th tabindex="2" aria-controls="dynamic-table" rowspan="1" colspan="1">Name</th>
                                                        <th tabindex="4" aria-controls="dynamic-table" rowspan="1" colspan="1">Entity</th>
                                                        <th tabindex="2" aria-controls="dynamic-table" rowspan="1" colspan="1">Department</th>
                                                        <th tabindex="4" aria-controls="dynamic-table" rowspan="1" colspan="1">Submission</th>
                                                        <th tabindex="4" aria-controls="dynamic-table" rowspan="1" colspan="1">Date of Declaration</th>
                                                        <th rowspan="1" colspan="1" aria-label="">Download</th>
                                                    </tr>
                                                </thead>

                                                <tbody>

                                                    <a href="~/Views/ListView/ListView.cshtml"></a>                 @foreach (var item in Model)
                                                    {
                                                        <tr style="font-size:12px">
                                                            <td>
                                                                @Html.DisplayFor(m => item.No)
                                                            </td>
                                                            <td>
                                                                @Html.DisplayFor(m => item.NIK)
                                                            </td>
                                                            <td>
                                                                @Html.DisplayFor(m => item.Name)
                                                            </td>

                                                            <td>
                                                                @Html.DisplayFor(m => item.Entity)
                                                            </td>

                                                            <td>
                                                                @Html.DisplayFor(m => item.Department)
                                                            </td>

                                                            <td>
                                                                @Html.DisplayFor(m => item.isBehave)
                                                            </td>

                                                            <td>
                                                                @Html.DisplayFor(m => item.DateDeclare)
                                                            </td>

                                                            <td>
                                                                <div class="hidden-sm hidden-xs action-buttons">
                                                                    <a class="green">  
                                                                        @if (item.isBehave == "DONE")
                                                                        {
                                                                            @Html.ActionLink("Download", "Download", new { NIK = item.NIK, Name = item.Name, Department = item.Department })
                                                                        }
                                                                        
                                                                    </a>

                                                                    @*<a class="red" href="#">
        @Html.ActionLink("Delete", "DeleteUser", new { id =  NIK = item.NIK, Name = item.Name, Department = item.Department  }, new { @onclick = "return confirm('Are you sure you want to delete this record?');" })
    </a>*@
                                                                </div>
                                                            </td>
                                                        </tr>
                                                    }
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- PAGE CONTENT ENDS -->
                </div><!-- /.col -->
            </div><!-- /.row -->
        </div><!-- /.page-content -->
    </div>
}
<script src="~/assets/js/jquery-2.1.4.min.js"></script>

<script type="text/javascript">
    window.onload = function() {

    $('#Dept').empty();
    debugger;
        $.ajax({
            type: "POST",
            url: '@Url.Action("DDL")',
            //contentType: "application/json",
            datatype: "JSON",
            success: function (result) {
                var cityData = result;
                var defaultV = new Option("--Select--", 0, true);
                $('#Dept').append(defaultV);
                for (var i = 0; i < cityData.length; i++) {
                    var opt = new Option(cityData[i].Text, cityData[i].Value);
                    $('#Dept').append(opt);
                }
            }
        });
    }


</script>
<script type="text/javascript">
    $("#Dept").change(function () {
        document.getElementById("Department").value = document.getElementById("Dept").value
        var tes = document.getElementById("Dept").value
    });
</script>